
/* IE fixes
===================== */

.info-thumb img {
	display:block;
}

.clients ul li img {
	display:block;
}

div.portfolio-inner {
	background:#fff;
}

.zoom-inner {
	display:none;
}

.portfolio-inner:hover .zoom-inner {
	display:block;
}
