@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: url('../fonts/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

%font-light {
    font-family: "Source Sans Pro ExtraLight", "Trebuchet MS", sans-serif;
}
%font-regular {
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif;
}